<mat-card>
    <mat-card-title id="title">Légende Batimap</mat-card-title>
    <mat-card-content>
        <div style="margin-bottom: 10px">
            <button
                mat-mini-fab
                color="accent"
                (click)="feelingLucky()"
                matTooltip="J'ai de la chance ! Sélectionner automatiquement une commune qui a besoin d'un import. [Raccourci : shift+c]"
            >
                <mat-icon>extension</mat-icon>
            </button>
            <button
                mat-mini-fab
                style="margin-left: 10px"
                color="primary"
                (click)="openHelp()"
                matTooltip="Afficher l'aide. [Raccourci : shift+a]"
            >
                <mat-icon>live_help</mat-icon>
            </button>
            <button
                mat-mini-fab
                style="margin-left: 10px"
                color="primary"
                (click)="emitHideLegend()"
                matTooltip="Masquer la légende. [Raccourci : shift+h]"
            >
                <mat-icon>visibility</mat-icon>
            </button>
        </div>

        <ng-container *ngIf="legendItems$ | async as legendItems; else dataHandler">
            <ng-container *ngIf="legendItems?.length! > 0; else noCities">
                <div matTooltip="Filtrer les communes affichées en fonction de la date du dernier import réalisé.">
                    <mat-label>Filtrer par date</mat-label>
                    <ul *ngIf="hideCheckboxes; else checkboxes">
                        <li *ngFor="let item of legendItems" [ngStyle]="{ color: item.color }">
                            <span>{{ item.displayName }}</span>
                            <span *ngIf="item.percent != -1"> ({{ item.percent }}%)</span>
                        </li>
                    </ul>

                    <ng-template #checkboxes>
                        <div *ngFor="let item of legendItems">
                            <mat-checkbox
                                [id]="'legend' + item.name"
                                [(ngModel)]="item.checked"
                                (change)="legendChanges(item)"
                                [ngStyle]="{ color: item.color }"
                            >
                                <span>{{ item.displayName }}</span>
                                <ng-container *ngIf="item.percent != -1"> ({{ item.percent }}%)</ng-container>
                            </mat-checkbox>
                        </div>
                    </ng-template>
                </div>

                <div
                    *ngIf="!hideCheckboxes"
                    matTooltip="Filtrer les communes affichées en fonction de l'écart en pourcentage entre le nombre de bâtiments OSM et cadastre.Ex : pour une commune avec 100 bâtiments dans OSM, 130 bâtiments dans le cadastre, l'écart sera de 30%."
                >
                    <mat-label
                        >Filtrer par écart <span *ngIf="countSlider.value! > 0">>{{ countSlider.value }}</span
                        >%</mat-label
                    >
                    <mat-slider
                        #countSlider
                        [displayWith]="formatPercentage"
                        [ngClass]="'ratio-' + (countSlider.value | buildingsratio: 'color')"
                        thumbLabel="1"
                        tickInterval="10"
                        min="0"
                        max="100"
                    ></mat-slider>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #noCities>
            <p>Il semblerait qu'il n'y ait aucune commune disponible dans cette zone.</p>
        </ng-template>
        <ng-template #dataHandler>
            <div *ngIf="error; else loading" class="mat-error">Le serveur est actuellement hors-ligne.</div>
        </ng-template>
        <ng-template #loading>
            <app-loader></app-loader>
        </ng-template>
    </mat-card-content>
</mat-card>
