<h2 mat-dialog-title>
    Détails commune
    <button mat-mini-fab color="primary" (click)="openHelp()" matTooltip="Afficher l'aide. [Raccourci : shift+a]">
        <mat-icon>live_help</mat-icon>
    </button>
</h2>
<mat-dialog-content>
    <h3>
        {{ city.insee }} - {{ city.name }}
        <a *ngIf="osmID$ | async as osmID" href="https://www.openstreetmap.org/relation/{{ osmID }}" target="_blank">
            <mat-icon>link</mat-icon>
        </a>
    </h3>
    {{ lastImport }}

    <div *ngIf="(city.details?.dates | count) > 0">
        <h4>Bâtiments par date</h4>
        <ul>
            <li *ngFor="let i of city.details.dates | keyvalue">{{ i.key }} - {{ i.value }}</li>
        </ul>
    </div>

    <div *ngIf="(city.details?.simplified | count) > 0">
        <h4>Bâtiments simplifiés</h4>
        <ul>
            <li *ngFor="let i of city.details.simplified">
                <a href="https://www.openstreetmap.org/node/{{ i }}" target="_blank">{{ i }}</a>
                <button mat-button color="primary" (click)="editNode(i)">
                    <mat-icon>edit</mat-icon>
                    JOSM
                </button>
            </li>
        </ul>
    </div>

    <div *ngIf="moreRecentDate">La date d'import du bâti a été mise à jour !<br /></div>
</mat-dialog-content>
<mat-dialog-actions class="row-wrapper">
    <button
        mat-raised-button
        color="warn"
        cdkFocusInitial
        mat-dialog-close
        matTooltip="Ferme la popup. [Raccourci : F]"
    >
        Fermer
    </button>
    <button mat-raised-button (click)="ignoreCity()" matTooltip="Masquer cette commune de la carte. [Raccourci : I]">
        Ignorer
    </button>
    <mat-bar-button
        [options]="updateButtonOpts"
        (click)="updateCity()"
        matTooltip="Rafraîchit les statistiques de la commune. [Raccourci : R]"
    ></mat-bar-button>
    <app-josm-button
        [city]="city"
        [josmReady]="josmIsStarted | async"
        (newestDate)="cityDateChanged($event)"
    ></app-josm-button>
</mat-dialog-actions>
