[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autoflake = "*"
black = "==21.10b0"
celery-types = "*"
coverage = "*"
flake8 = "*"
flake8-pathlib = "*"
flake8-use-fstring = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
sqlalchemy-stubs = "*"
types-click = "*"
types-flask = "*"
types-python-dateutil = "*"
types-requests = "*"
types-setuptools = "*"
types-smorest = "*"
typing-extensions = "*"
types-flask-cors = "*"
types-beautifulsoup4 = "*"
types-flask-sqlalchemy = "*"

[packages]
beautifulsoup4 = "==4.10.0"
celery = {extras = ["redis"], version = "==5.0.5"}
click = "==7.1.2"
Flask = "==1.1.4"
Flask-Cors = "==3.0.10"
Flask-RESTful = "==0.3.9"
flask-smorest = "==0.29.0"
Flask-SQLAlchemy = "==2.5.1"
flower = "==1.0.0"
GeoAlchemy2 = "==0.8.5"
geojson = "==2.5.0"
gevent = "==21.8.0"
gunicorn = "==20.1.0"
ijson = "==3.1.4"
lxml = "==4.6.4"
markupsafe = "==2.0.1" # breaks jinja2
overpass = "==0.7"
psycopg2 = "==2.9.2"
python-dateutil = "==2.8.2"
redis = "==3.5.3"
requests = "==2.26.0"
sentry-sdk = {extras = ["flask"], version = "*"}
SQLAlchemy = "==1.4.22"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
