<h2 mat-dialog-title>Détails commune</h2>
<mat-dialog-content>
  <h3>{{city.insee}} - {{city.name}}</h3>
  {{lastImport()}}

  <div *ngIf="city.details">
    <h4>Bâtiments par date</h4>
    <ul>
      <li *ngFor="let k of Object.entries(city.details.dates)">{{k[0]}} - {{k[1]}}</li>
    </ul>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="row-wrapper">
  <button mat-raised-button color="warn" cdkFocusInitial mat-dialog-close>Fermer</button>
  <button mat-raised-button color="primary" (click)="updateCity()" *ngIf="!isUpdating; else loading">Raffraichir</button>
  <app-josm-button [city]="city" [josmReady]="josmIsStarted | async"></app-josm-button>
</mat-dialog-actions>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
