<h2 mat-dialog-title>Détails commune</h2>
<mat-dialog-content>
  <h3>{{city.insee}} - {{city.name}}</h3>
  Dernier import en {{city.date}}.

  <div *ngIf="city.details">
    <h4>Détails</h4>

    <h5># Bâtiments par date</h5>
    {{city.details.dates | json}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" cdkFocusInitial mat-dialog-close>Fermer</button>
  <button mat-raised-button color="primary">Raffraichir</button>
  <button mat-raised-button color="primary" (click)="conflateCity()" [disabled]="!(josmIsStarted | async)">JOSM</button>
</mat-dialog-actions>
