<h2 mat-dialog-title>État du bâti</h2>
<mat-dialog-content>
  <p>Cette carte affiche l'état du bâti dans <a target="_blank" href="http://www.openstreetmap.fr/">OpenStreetMap</a>,
    par rapport au
    cadastre français. Il permet aussi de mettre à jour le bâti pour une commune donnée, via l'éditeur JOSM.</p>

  <p><b>Cette opération comporte des risques et demande une expérience avancée sur la contribution à OpenStreetMap,</b>
    consultez tout d'abord <a target="_blank"
                              href="https://wiki.openstreetmap.org/wiki/WikiProject_France/Cadastre/Import_semi-automatique_des_b%C3%A2timents#Utilisation_du_plugin_.C2.ABConflation.C2.BB_dans_JOSM">le
      wiki</a>.</p>

  <p>Pour faciliter la mise à jour du bâti avec JOSM, via le plugin <a target="_blank"
                                                                       href="https://wiki.openstreetmap.org/wiki/JOSM/Plugins/Conflation">Conflation</a>,
    l'utilisation de scripts, via le
    plugin <a target="_blank" href="https://wiki.openstreetmap.org/wiki/JOSM/Plugins/Scripting">Scripting</a>, permet
    d'éviter les
    tâches répétitives :</p>

  <ol>
    <li><b><a target="_blank" href="https://gitlab.com/bagage/cadastre-conflation/raw/master/josm-scripts/A-segmented.js">A-segmented.js</a></b> : crée une todolist, via le plugin <a target="_blank"
                                                            href="https://wiki.openstreetmap.org/wiki/JOSM/Plugins/TODO_list">Todo</a>, des bâtiments segmentés
      nécessitant une revue humaine avant intégration dans OSM.
    </li>
    <li><b><a target="_blank" href="https://gitlab.com/bagage/cadastre-conflation/raw/master/josm-scripts/B-conflation.js">B-conflation.js</a></b> : configure le plugin Conflation.</li>
  </ol>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <a target="_blank" mat-button href="https://gitlab.com/bagage/cadastre-conflation/issues">Reporter un bug</a>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">J'ai compris, allons-y !</button>
</mat-dialog-actions>
